#root {
  width: 100%;
}

.App {
  min-height: 100vh;
  display: flex;
}

.App > .container {
  max-width: 915px;
}

.text-st {
  text-decoration: line-through;
}

h1 {
  text-align: center;
  margin-top: 1.5rem;
}

.App .max-width-sm {
  max-width: 540px;
}